/* body section */
body {
    background-color: #a9a9a9;
}
/* wrapper class for main content */
.wrapper {
    width: 850px;
    margin: auto;
    background-color: #e7bf78;
} 
/* header section */
header {
    background-color: #5858eb;
    height: 150px;
}
/* main header */
header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
}
/* header logo */
.code-logo {
    margin: 0px 0px 30px 20px;
}
/* header symbols */
.symbols {
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 200px;
    margin: 10px 0 0 200px;
}
/* header navigation */
.navi {
    float: right;
    margin: 70px 30px 0 0;
}
nav a {
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
/* portfolio image */
.portfolio {
    float: left;
    width: 300px;
    height: 320px;
    border-radius: 50%;
    margin: 50px 0 0 50px;
}
/* pseudo-classes for links */
a:link {
    color: #ff0000;
  }
  a:visited {
    color: #008000;
  }
  a:hover {
    color: #ffc0cb;
  }
  a:active {
    color: #0000ff;
  }
/* horizontal line rotated */
hr {
    transform: rotate(90deg) translateX(200px);
    width: 400px;
    border: 2px solid #5858eb;
}   
 /* introduction section */
#intro {
    float: right;
    margin: 30px 20px 0 0;
    width: 375px;
    position: relative;
    font-size: 18px;
}
#intro li {
    list-style-type: none;
}
section h2 {
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
}
/* about section */
#about {
    float: right;
    display: block;
    margin: 50px;
    font-size: 20px;
}
/* footer section */
.footer {
    background-color: #5858eb;
    height: 150px;
    clear: both;
    color: #ffffff

}
/* contact section */
#contact {
    padding-top: 1px;
    font-size: 20px;
    text-align: center;
}
/* social media icons */
.fa {
    width: 50px;
    height: 50px;
    text-decoration: none;
} 
  